body {
    background-image: url('https://github.com/Deehferreira/imersaocsshtml/blob/master/groot.jpg?raw=true');
    background-size: auto 50vh;
    font-family: Arial;
    height: 10vh;
}

.menu {
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}